<table class="download-app" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="download-app_heading" align="center">
      <h2 class="fontFamily arial fontSize headline titleMobile colour endeavour">
        <span class="fontFamily barlow fontSize headline titleMobile">
          DOWNLOAD OUR FREE APP
        </span>
      </h2>
    </td>
  </tr>
  <tr>
    <td class="download-app_iphone-image" align="center">
      {{> image 
          alt='Photo of a family inside a stylised phone frame'
          src='../src/images/components/download-app/download-app_iphone-photo_520_x2.png'
          width='250'
      }}
    </td>
  </tr>
  <tr>
    <td class="download-app_app-icons" align="center">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="download-app_app-icons_left" align="right">
            <img class="image-fix" src="../src/images/components/download-app/apple-app-store-logo.png" width="135" alt="Apple App Store logo">
          </td>
          <td class="download-app_app-icons_right"  align="left">
            <img class="image-fix" src="../src/images/components/download-app/google-play-store-logo.png" width="135" alt="Google Play Store logo">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>