<table class="footer_small" border="0" cellpadding="0" cellspacing="0">
  <tr>
      <td class="footer_slug" align="left">
        <p class="fontFamily arial colour abbey">
          <span class="fontFamily bariol colour abbey">KidStart Limited 05439349 | FCA number 473606 | Data Protection Register Z1168761. Unit 10 Plato Place, 72-74 St. Dionis Road, London, SW6 4TU</span>
        </p>
      </td>
  </tr>
</table>