{{#> block-content-container props='padded background alabaster' align='center' }}
  <table class="footer">
    <tbody>
      <tr>
        <td class="footer_inner">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td class="footer_social" align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <a href="https://www.facebook.com/kidstart" target="_blank">
                        <img class="image-fix" src="../src/images/components/footer/facebook-icon.png" width="32" alt="KidStart on Facebook icon"/>
                      </a>
                    </td>
                    <td>
                      <a href="https://www.twitter.com/kidstart" target="_blank">
                        <img class="image-fix"  src="../src/images/components/footer/twitter-icon.png" width="32" alt="KidStart on Twitter icon"/>
                      </a>
                    </td>
                    <td>
                      <a href="https://www.instagram.com/kidstart.co.uk" target="_blank">
                        <img class="image-fix" src="../src/images/components/footer/instagram-icon.png" width="32" alt="KidStart on Instagram icon"/>
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="footer_info">
                <p class="fontFamily bariol colour abbey">
                  Rates as of date email was sent. <br>Forwarding this email will allow recipients to log in to KidStart as you.
                </p>
              </td>
            </tr>
            <tr>
              <td class="footer_links" align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p class="fontFamily bariol colour abbey">
                        <a class="colour thunderbird" href="#"><span class="colour thunderbird">T&amp;Cs apply</span></a>
                      </p>
                    </td>
                    <td>
                      <p class="fontFamily bariol colour abbey">
                        |
                      </p>
                    </td>
                    <td>
                      <p class="fontFamily bariol colour abbey">
                        <a class="colour thunderbird" href="#"><span class="colour thunderbird">Privacy Policy</span></a>
                      </p>
                    </td>
                    <td>
                      <p class="fontFamily bariol colour abbey">
                        |
                      </p>
                    </td>
                    <td>
                      <p class="fontFamily bariol colour thunderbird">
                        <a class="colour thunderbird" href="#"><span class="colour thunderbird">Unsubscribe</span></a>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="footer_bottom" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <th class="column">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td class="footer_logo" align="center">
                            <img class="image-fix" src="../src/images/components/footer/kidstart-logo.png" alt="KidStart logo in grey" width="96" height="32">
                          </td>
                        </tr>
                      </table>
                    </th>
                    <th class="column">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td class="footer_slug full" align="left">
                            <p class="fontFamily arial colour abbey">
                              <span class="fontFamily bariol colour abbey">KidStart Limited 05439349 | FCA number 473606 | Data Protection Register Z1168761. Unit 10 Plato Place, 72-74 St. Dionis Road, London, SW6 4TU</span>
                            </p>
                          </td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
{{/block-content-container}}