<table class="list-item" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="list-item_inner" align="left">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td class="list-item_bullet">
            <a href="{{ url }}">
              <img src="../src/images/components/list-item/bullets/{{ bulletColour }}.png" width="24" height="24" alt="{{ bulletColour }} bullet point">
            </a>
          </td>
          <td class="list-item_copy fontFamily bariol">
            {{> @partial-block }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>