<table class="subjects" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tbody>
    <tr>
      <td>
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
          <tr>
            <td class="subjects_row-spacer">
              <table class="subjects_inner" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                  <th class="column subject-wrapper first" width="33%">
                    <table class="subject" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td>
                          <a class="fontFamily arial fontSize subheader" href="#">
                            <span class="fontFamily bariol fontSize subheader">
                              Clothing & Fashion
                            </span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th class="column subject-wrapper second" width="33%">
                    <table class="subject" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td>
                          <a class="fontFamily arial fontSize subheader" href="#">
                            <span class="fontFamily bariol fontSize subheader">
                              Home & Garden
                            </span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th class="column subject-wrapper third" width="33%">
                    <table class="subject" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td>
                          <a class="fontFamily arial fontSize subheader" href="#">
                            <span class="fontFamily bariol fontSize subheader">
                              Groceries
                            </span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </th>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table class="subjects_inner" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                  <th class="column subject-wrapper first" width="33%">
                    <table class="subject" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td>
                          <a class="fontFamily arial fontSize subheader" href="#">
                            <span class="fontFamily bariol fontSize subheader">
                              Travel & Holiday
                            </span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th class="column subject-wrapper second" width="33%">
                    <table class="subject" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td>
                          <a class="fontFamily arial fontSize subheader" href="#">
                            <span class="fontFamily bariol fontSize subheader">
                              Parenting & Child
                            </span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </th>
                  <th class="column subject-wrapper third" width="33%">
                    <table class="subject" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td>
                          <a class="fontFamily arial fontSize subheader" href="#">
                            <span class="fontFamily bariol fontSize subheader">
                              Home Services & Mobile
                            </span>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </th>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>