{{#> block-content-container align='center'}}
  <table border="0" cellpadding="0" cellspacing="0" align="center">
    <tbody>
      <tr>
        <td class="view-online_tab">
          <p class="colour abbey fontSize body captionMobile fontFamily arial fontWeight bold">
            <span class="colour abbey fontFamily bariol fontWeight bold">
              View online
            </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
{{/block-content-container}}