<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection of emails built with KS Email Builder</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: monospace;
        line-height: 1.6;
      }

      ul {
        padding: 0;
        list-style-type: none;
      }

      li {
        margin-bottom: .5rem;
      }

      a {
        color: #58595b;
      }

      p {
        color: #2b2b2b;
      }

      div {
        padding: 2rem;
      }

      div > div {
        padding: .5rem;
      }

      @media screen and (max-width: 640px) {
        br {
          display: none;
        }

        div {
          padding: .5rem !important;
        }

        div > div {
          padding: .1rem !important;
        }
      }
    </style>
  </head>
  <body>
    <div>
      <div>
        <p>
          <strong>Hi there. 🙂 </strong>This is a collection of emails created for KidStart.
        </p>
        <p>
          They were created using the <strong><a href="https://github.com/james-barrett-dev/ks-email-builder">build system</a></strong> I developed at KidStart for this purpose.
        </p>
        <p>
          <strong>I recommend viewing 'All components' first.</strong>
        </p>
        <p>
          Have a look at the <strong><a href="./images/mockups/all-components.png">original full-colour mockup</a></strong> to compare fidelity to my original design.
        </p>
        <p>
          All emails are derived from this core set of components.
        </p>
        <p>
          🚨 If you are reviewing the code of these rendered emails,</br> please note that the CSS/HTML has been run through a minifier, and won't be pretty.</br> 
          Review the original <a href="https://github.com/james-barrett-dev/ks-email-builder/tree/master/src/emails">source templates</a> in the <a href="https://github.com/james-barrett-dev/ks-email-builder">build system</a>.
        </p>
      </div>
      <div>
        <ul>
          <li>
            <a href="all-components.html"><strong>All components</strong></a>
          </li>
          <li>
            <a href="each-week-2x5-version-1.html">each-week-2x5-version-1</a>
          </li>
          <li>
            <a href="each-week-2x5-version-2-with-middle-banner.html">each-week-2x5-version-2-with-middle-banner</a>
          </li>
          <li>
            <a href="each-week-2x5-version-3-middle-and-bottom-banner.html">each-week-2x5-version-3-middle-and-bottom-banner</a>
          </li>
          <li>
            <a href="first-purchase.html">first-purchase</a>
          </li>
          <li>
            <a href="kiddybank-monthly-emails-version-1.html">kiddybank-monthly-emails-version-1</a>
          </li>
          <li>
            <a href="kiddybank-monthly-emails-version-2-with-middle-banner.html">kiddybank-monthly-emails-version-2-with-middle-banner</a>
          </li>
          <li>
            <a href="kiddybank-monthly-emails-version-3-with-middle-and-bottom-banner.html">kiddybank-monthly-emails-version-3-with-middle-and-bottom-banner</a>
          </li>
          <li>
            <a href="kidstart-verification-email.html">kidstart-verification-email</a> 
          </li>
          <li>
            <a href="red-heading-version-1.html">red-heading-version-1</a>
          </li>
          <li>
            <a href="red-heading-version-2-with-button.html">red-heading-version-2-with-button</a>
          </li>
          <li>
            <a href="second-purchase.html">second-purchase</a>
          </li>
          <li>
            <a href="simple-email-version-1.html">simple-email-version-1</a>
          </li>
          <li>
            <a href="simple-email-version-2-with-hero.html">simple-email-version-2-with-hero</a>
          </li>
          <li>
            <a href="simple-email-version-3-with-bottom-banner.html">simple-email-version-3-with-bottom-banner</a>
          </li>
          <li>
            <a href="simple-email-version-4-with-list.html">simple-email-version-4-with-list</a>
          </li>
          <li>
            <a href="site-welcome-1.html">site-welcome-1</a>
          </li>
          <li>
            <a href="site-welcome-2.html">site-welcome-2</a>
          </li>
          <li>
            <a href="solus-1x3-version-1.html">solus-1x3-version-1</a>
          </li>
          <li>
            <a href="solus-1x3-version-2-with-bottom-banner.html">solus-1x3-version-2-with-bottom-banner</a>
          </li>
          <li>
            <a href="solus-4x3.html">solus-4x3</a>
          </li>
          <li>
            <a href="solus-no-columns.html">solus-no-columns</a>
          </li>
          <li>
            <a href="solux-1x3-version-3-with-slimline-coloured-block.html">solux-1x3-version-3-with-slimline-coloured-block</a>
          </li>
          <li>
            <a href="thank-you-for-registering-with-kidstart.html">thank-you-for-registering-with-kidstart</a>
          </li>
          <li>
            <a href="user-welcome-1.html">user-welcome-1</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>