{{#> default-layout subject='Kiddybank monthly emails version 1'}}
  {{#> email-container width='640'}}
    {{#> block-content-container props='padded background white'}}
      {{> navigation props='fontFamily bariol' 
        logo='colour'
        navColourOne='black'
        navColourTwo='black'
        navColourThree='black'
      }}
    {{/block-content-container}}

    {{#> block-content-container props='padded background white'}}
      {{#> block-content-container props='spacing bottomThirtyTwo bottomFortyMobile'}}
        {{> image 
            type='responsive'
            src='../src/images/placeholders/ratioThreeOne_1184.png'
            width='592'
            alt='Placeholder image in 3:1 size'
            url='#'
        }}
      {{/block-content-container}}
      {{#> block-content-container props='padded background white spacing bottomThirtyTwo' align='center'}}
        <h2 class="fontFamily arial fontSize display titleMobile colour thunderbird">
          <span class="fontFamily barlow fontSize display titleMobile">
            Well done James
          </span>
        </h2>
      {{/block-content-container}}

      {{#> block-content-container props='spacing bottomThirtyTwo bottomFortyMobile' align='center'}}
        <p class="margin bottomSixteen fontFamily bariol fontSize title subheaderMobile colour abbey">
          We are pleased to see that you have been saving with us. <br/>It's the only feedback we need!
        </p>

        <p class="margin fontFamily bariol fontSize title subheaderMobile colour abbey">
          Help your friends save for their little ones by sharing KidStart.
        </p>
      {{/block-content-container}}

      {{#> block-content-container props='padded background white spacing bottomThirtyTwo' align='center'}}
        <h2 class="fontFamily arial fontSize headline titleMobile colour thunderbird">
          <span class="fontFamily barlow fontSize headline titleMobile">
            AS A THANK YOU - WHEN THEY SAVE £5, <br/>WE'LL GIVE YOU £5.
          </span>
        </h2>
      {{/block-content-container}}

      {{#> block-content-container props='spacing bottomFortyEight bottomFortyMobile' align='center'}}
        {{> button type='thunderbird' props='fontFamily bariol fontSize subheader colour white' align='center' title='Start saving now' url='#'}}
      {{/block-content-container}}
    {{/block-content-container}}

    {{#> block-content-container props='background white spacing bottomFortyEight bottomFortyMobile'}}
      {{> kiddybank}}
    {{/block-content-container}}

    {{#> block-content-container props='padded background white' }}
      {{#> columns-container }}
        {{#> column width='50%' side='left' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep <strong class="colour thunderbird">40-50 characters per line</strong>. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}

        {{#> column width='50%' side='right' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            details=''
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep 40-50 characters per line. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}
      {{/columns-container}}

      {{#> columns-container }}
        {{#> column width='50%' side='left' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            details=''
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep 40-50 characters per line. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}

        {{#> column width='50%' side='right' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            details=''
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep 40-50 characters per line. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}
      {{/columns-container}}

      {{#> columns-container }}
        {{#> column width='50%' side='left' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            details=''
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep 40-50 characters per line. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}

        {{#> column width='50%' side='right' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            details=''
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep 40-50 characters per line. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}
      {{/columns-container}}

      {{#> columns-container }}
        {{#> column width='50%' side='left' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep <strong class="colour thunderbird">40-50 characters per line</strong>. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}

        {{#> column width='50%' side='right' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            details=''
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep 40-50 characters per line. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}
      {{/columns-container}}

      {{#> columns-container }}
        {{#> column width='50%' side='left' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            details=''
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep 40-50 characters per line. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}

        {{#> column width='50%' side='right' }}
          {{#> pod 
            image='../src/images/placeholders/ratioOneOne_568.png'
            alt='16:9 image'
            retailer='Retailer'
            details=''
            cta='Up to 99.9% back for your kids'
            button='Shop now'
            url='#'
          }}
            We should keep 40-50 characters per line. 40-50 characters per line is very readable.
          {{/pod}}
        {{/column}}
      {{/columns-container}}
    {{/block-content-container}}

    {{#> block-content-container props='padded background alabaster' align='center' }}
      {{> footer }}
    {{/block-content-container}}
    {{> view-online }}
  {{/email-container}}
{{/default-layout}}