{{#> default-layout subject='Solus 1x3 version 2 with bottom banner'}}
  {{#> email-container width='640'}}
    {{#> block-content-container props='padded background white'}}
      {{> navigation props='fontFamily bariol' 
        logo='colour'
        navColourOne='black'
        navColourTwo='black'
        navColourThree='black'
      }}
    {{/block-content-container}}

    {{#> block-content-container props='padded background white'}}
      {{#> block-content-container props='spacing bottomThirtyTwo bottomFortyMobile'}}
        {{> image 
            type='responsive'
            src='../src/images/placeholders/ratioThreeOne_1184.png'
            width='592'
            alt='Placeholder image in 3:1 size'
            url='#'
        }}
      {{/block-content-container}}
      {{#> block-content-container props='spacing bottomThirtyTwo bottomFortyMobile' align='left'}}
        <p class="fontFamily bariol fontSize title subheaderMobile colour abbey">
          <strong class="fontFamily bariol fontSize title subheaderMobile colour abbey">Hi James,</strong><br>
          At vero eos et accusamus et iusto odio dignissimos. Quas molestias excepturi sint occaecati cupiditate non provident. quas molestias excepturi sint occaecati cupiditate non provident. Quas molestias excepturi sint occaecati cupiditate non provident.
        </p>
      {{/block-content-container}}
      {{#> block-content-container props='spacing bottomFortyEight bottomFortyMobile' align='center'}}
        {{> button type='thunderbird' props='fontFamily bariol fontSize subheader colour white' align='center' title='Start saving now' url='#'}}
      {{/block-content-container}}
    {{/block-content-container}}

    {{#> block-content-container props='padded background white'}}
      {{#> columns-container}}
        {{#> column width='180'}}
          {{#> block-content-container props='background' align='left' }}
            {{#> block-content-container props='spacing bottomTwentyFour'}}
              {{> image 
                  type='responsive'
                  src='../src/images/placeholders/360x272.png'
                  width='180'
                  alt='360x272'
                  url='#'
              }}
            {{/block-content-container}}
            {{#> block-content-container align='left'}}
              {{#> inline-content-container props='fullWidthOnMobile spacing bottomTwentyFour' align='center' width='180'}}
                <p class="fontFamily bariol fontSize body subheaderMobile colour abbey">
                  Ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
              {{/inline-content-container}}
              {{#> inline-content-container props='fullWidthOnMobile spacing bottomFortyEight bottomFortyMobile' align='center' width='180'}}
                {{> button type='thunderbird' props='fontFamily bariol fontSize subheader colour white' align='center' title='Shop now' url='#'}}
              {{/inline-content-container}}
            {{/block-content-container}}
          {{/block-content-container}}
        {{/column}}

        {{#> column width='184' }}
          {{#> block-content-container props='background' align='center'}}
            {{#> block-content-container props='spacing bottomTwentyFour'}}
              {{> image 
                  type='responsive'
                  src='../src/images/placeholders/368x272.png'
                  width='184'
                  alt='360x272'
                  url='#'
              }}
            {{/block-content-container}}
            {{#> block-content-container align='center'}}
              {{#> inline-content-container props='fullWidthOnMobile spacing bottomTwentyFour' align='center' width='180'}}
                <p class="fontFamily bariol fontSize body subheaderMobile colour abbey">
                  Ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
              {{/inline-content-container}}
              {{#> inline-content-container props='fullWidthOnMobile spacing bottomFortyEight bottomFortyMobile' align='center' width='180'}}
                {{> button type='thunderbird' props='fontFamily bariol fontSize subheader colour white' align='center' title='Shop now' url='#'}}
              {{/inline-content-container}}
            {{/block-content-container}}
          {{/block-content-container}}
        {{/column}}

        {{#> column width='180' }}
          {{#> block-content-container props='background' align='right'}}
            {{#> block-content-container props='spacing bottomTwentyFour'}}
              {{> image 
                  type='responsive'
                  src='../src/images/placeholders/360x272.png'
                  width='180'
                  alt='360x272'
                  url='#'
              }}
            {{/block-content-container}}
            {{#> block-content-container align='right'}}
              {{#> inline-content-container props='fullWidthOnMobile spacing bottomTwentyFour' align='center' width='180'}}
                <p class="fontFamily bariol fontSize body subheaderMobile colour abbey">
                  Ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
              {{/inline-content-container}}
              {{#> inline-content-container props='fullWidthOnMobile spacing bottomFortyEight bottomFortyMobile' align='center' width='180'}}
                {{> button type='thunderbird' props='fontFamily bariol fontSize subheader colour white' align='center' title='Shop now' url='#'}}
              {{/inline-content-container}}
            {{/block-content-container}}
          {{/block-content-container}}
        {{/column}}
      {{/columns-container}}
    {{/block-content-container}}

    {{#> block-content-container props='padded background white spacing bottomFortyEight bottomFortyMobile'}}
      {{> image 
          type='responsive'
          src='../src/images/placeholders/ratioThreeTwo_1184.png'
          width='592'
          alt='Placeholder image in 3:2 size'
          url='#'
      }}
    {{/block-content-container}}

    {{#> block-content-container props='padded background alabaster' align='center' }}
      {{> footer }}
    {{/block-content-container}}
    {{> view-online }}
  {{/email-container}}
{{/default-layout}}