.background.alto {
  background-color: $alto;
}

.background.danube {
  background-color: $danube;
}

.background.silver {
  background-color: $silver;
}

.background.black {
  background-color: $black;
}

.background.white {
  background-color: $white;
}

.background.thunderbird {
  background-color: $thunderbird;
}

.background.abbey {
  background-color: $abbey;
}

.background.endeavour {
  background-color: $endeavour;
}

.background.alabaster {
  background-color: $alabaster;
}

.background.turquoise {
  background-color: $turquoise;
}

.background.paradiso {
  background-color: $paradiso;
}

.background.white-ice {
  background-color: $white-ice;
}

.background.white-ice-light {
  background-color: $white-ice-light;
}

.background.jungle-green {
  background-color: $jungle-green;
}

.background.deep-sea-green {
  background-color: $deep-sea-green;
}

.background.quill-gray {
  background-color: $quill-gray;
}

.background.mauvelous {
  background-color: $mauvelous;
}

.background.robins-egg-blue {
  background-color: $robins-egg-blue;
}

.background.half-baked {
  background-color: $half-baked;
}

.background.rose-fog {
  background-color: $rose-fog;
}

.background.mandys-pink {
  background-color: $mandys-pink;
}