.borderColour.alto {
  border-color: $alto;
}

.borderColour.danube {
  border-color: $danube;
}

.borderColour.silver {
  border-color: $silver;
}

.borderColour.black {
  border-color: $black;
}

.borderColour.white {
  border-color: $white;
}

.borderColour.thunderbird {
  border-color: $thunderbird;
}

.borderColour.abbey {
  border-color: $abbey;
}

.borderColour.endeavour {
  border-color: $endeavour;
}

.borderColour.alabaster {
  border-color: $alabaster;
}

.borderColour.turquoise {
  border-color: $turquoise;
}

.borderColour.paradiso {
  border-color: $paradiso;
}

.borderColour.white-ice {
  border-color: $white-ice;
}

.borderColour.white-ice-light {
  border-color: $white-ice-light;
}

.borderColour.jungle-green {
  border-color: $jungle-green;
}