.button {
  > tr > td {
    
  }

  table {
    width: auto;
  }

  table td {
    display: block;
    padding: $base-unit $base-unit * 3 $base-unit $base-unit * 3;
    border: 1px solid None;
    border-radius: 999px;
    text-align: center;
  }

  a {
    font-size: $subheader-font-size;
    line-height: $subheader-line-height;
    text-decoration: none;
  }
}

.button.default {
  table td {
    background-color: $silver;
  }

  a {
    color: $black;
  }
}

.button.thunderbird {
  table td {
    background-color: $thunderbird;
  }
}

.button.jungle-green {
  table td {
    background-color: $jungle-green;
  }
}

.button.deep-sea-green {
  table td {
    background-color: $deep-sea-green
  }
}

.button.large {
  > tr > td {

  }
}