.colour.alto {
  color: $alto;
}

.colour.danube {
  color: $danube;
}

.colour.silver {
  color: $silver;
}

.colour.black {
  color: $black;
}

.colour.white {
  color: $white;
}

.colour.thunderbird {
  color: $thunderbird;
}

.colour.abbey {
  color: $abbey;
}

.colour.endeavour {
  color: $endeavour;
}

.colour.alabaster {
  color: $alabaster;
}

.colour.turquoise {
  color: $turquoise;
}

.colour.paradiso {
  color: $paradiso;
}

.colour.white-ice {
  color: $white-ice;
}

.colour.white-ice-light {
  color: $white-ice-light;
}

.colour.jungle-green {
  color: $jungle-green;
}

.colour.deep-sea-green {
  color: $deep-sea-green;
}

.colour.manatee {
  color: $manatee;
}

.colour.quill-gray {
  color: $quill-gray;
}

.colour.mauvelous {
  color: $mauvelous;
}

.colour.mandys-pink {
  color: $mandys-pink;
}
.colour.robins-egg-blue {
  color: $robins-egg-blue;
}

.colour.half-baked {
  color: $half-baked;
}

.colour.rose-fog {
  color: $rose-fog;
}
