$alto: #d8d8d8;
$silver: #cccccc;
$black: #000000;
$white: #ffffff;
$quill-gray: #dcdcda;
$thunderbird: #bf2e1b;
$abbey: #58595b;
$endeavour: #005fa1;
$alabaster: #f8f8f8;
$turquoise: #50e3c2;
$paradiso: #2d806e;
$white-ice: #d3f8f0;
$white-ice-light: #e9fbf7;
$danube: #68a0ca;
$jungle-green: #32b67a;
$deep-sea-green: #055a5b;
$manatee: #8e8e95;
$mauvelous: #f28fae;
$robins-egg-blue: #02c7e6;
$half-baked: #81b8d0;
$rose-fog: #e5b6bf;
$mandys-pink: #efacb7;
$vista-blue: #98dabc;

$mobile-breakpoint: 639px;

$small-font-size: 10px;
$caption-font-size: 12px;
$body-font-size: 14px;
$subheader-font-size: 16px;
$title-font-size: 20px;
$headline-font-size: 24px;
$display-font-size: 32px;
$grand-font-size: 48px;
$jumbo-font-size: 64px;
$mega-font-size: 72px;

$small-line-height: 14px;
$caption-line-height: 16px;
$body-line-height: 20px;
$subheader-line-height: 24px;
$title-line-height: 28px;
$headline-line-height: 32px;
$display-line-height: 40px;
$grand-line-height: 64px;
$jumbo-line-height: 72px;
$mega-line-height: 80px;

$base-unit: 8px;